# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [2]:
lst = [1,2,3,4,5]

lst.append(6)

lst

[1, 2, 3, 4, 5, 6]

2. Make a list of fruits and insert a fruit at the second position.

In [4]:
lst = ['mango','banana','guava','grapes','apple']

lst.insert(1,'strawberry')

lst

['mango', 'strawberry', 'banana', 'guava', 'grapes', 'apple']

3. Create a list of names and remove one name from the list.

In [6]:
lst = ['sanket','harsh','sanket','sujit','sagar']

lst.pop()
print("list after pop() : ",lst)

lst.remove('sujit')
print("after remove() : ",lst)

list after pop() :  ['sanket', 'harsh', 'sanket', 'sujit']
after remove() :  ['sanket', 'harsh', 'sanket']

4. Create a list of 4 items and change the value at index 2.

In [7]:
lst = ['table','tv','laptop','mobile']

lst[2] = 'headphones'
print(lst)

['table', 'tv', 'headphones', 'mobile']

5. Make a list of numbers and print only the first three elements.

In [8]:
num = [1,2,3,4,5,6,7]

num[0:3]

[1, 2, 3]

6. Create a list of colors and find the index of a specific color.

In [10]:
colors = ['blue','red','violet','pink','white']

print("index of red is : ", colors.index('red'))

index of red is :  1

7. Create a list of 10 numbers and print how many times “5” appears.

In [12]:
num = [1,3,4,5,4,5,7,5,8,5]

print("count of number 5 is : ",num.count(5))

count of number 5 is :  4

8. Make a list of 6 items and delete the item at index 3.

In [13]:
lst = ['table','tv','laptop','mobile','headphones','camera']

lst.pop(3)

'mobile'

9. Create a list of animals and add three more animals using extend().

In [20]:
animal = ['rabbit','zebra','dog','cat','fox']

add_animal = ['tiger','goat','lion']

animal.extend(add_animal)

animal

['rabbit', 'zebra', 'dog', 'cat', 'fox', 'tiger', 'goat', 'lion']

10. Create a list and remove the last item using pop().

In [21]:
animal = ['rabbit','zebra','dog','cat','fox']

animal.pop()

'fox'

11. Create a list of prices and sort them in ascending order.

In [23]:
prices = [400,500,100,50,800,900]

prices.sort()

prices

[50, 100, 400, 500, 800, 900]

12. Make a list of countries and reverse the order of the list.

In [25]:
country = ['india','africa','brazil','srilanka']

country.reverse()

country

['srilanka', 'brazil', 'africa', 'india']

13. Create a list of words and check if “apple” is in the list.

In [26]:
words = ['mango','banana','guava','grapes','apple']

words.count('apple')

1

14. Create a list of numbers and print the largest and smallest number.

In [30]:
num = [1,2,3,4,5,6,7,8,9]

print("largest number is : ",max(num))
print("smallest number is : ",min(num))

largest number is :  9
smallest number is :  1

15. Make a list of 5 items and print each item using a loop.

16. Create two lists and combine them into one list.

In [33]:
lst1 = [1,2,3]
lst2 = [4,2,6]

lst1.extend(lst2)
lst1

[1, 2, 3, 4, 2, 6]

17. Make a list and replace the last item with a new value.

In [36]:
lst = [1,2,3,4,5,6,7,8]

lst[-1] = 100
lst

[1, 2, 3, 4, 5, 6, 7, 100]

18. Create a list of numbers and print only the even numbers.

In [1]:
lst = [1,2,3,4,5,6,7,8]

for num in lst :
    if num % 2 == 0:
        print(num)

2
4
6
8

19. Create a list and clear all items from the list.

In [37]:
lst = [1,2,3,4,5,6,7,8]

lst.clear()
lst

[]

20. Create a list of 5 values and copy it into another list.

In [39]:
lst = [1,2,3,4,5]

lst_copy = lst.copy()

lst_copy

[1, 2, 3, 4, 5]