# ðŸ“ Python Assignment â€“ Nested Lists & Nested Dictionaries
## Medium Level Questions (20)
### Instructions:
- Write all your answers in the code cells provided.
- Do not erase the questions.
- Use loops (`for` / `while`) wherever necessary.
---

## **1. Print every element inside this nested list:**
`[[1,2,3], [4,5], [6,7,8,9]]`

In [2]:
lst = [[1,2,3], [4,5], [6,7,8,9]]
for sub in lst:
    for num in sub:
        print(num)

1
2
3
4
5
6
7
8
9

## **2. Find the sum of all numbers inside a nested list.**
Example: `[[10,20], [30], [5, 7, 8]]`

In [4]:
lst = [[10,20], [30], [5, 7, 8]]

sum = 0

for sub in lst :
    for num in sub :
        sum += num
        
sum

80

## **3. Count how many even numbers are present in a nested list.**

In [6]:
lst = [[10,20], [30], [5, 7, 8]]

count = 0

for sub in lst :
    for num in sub :
        if num % 2 == 0 :
            count += 1
            
print("count of even numbers : ",count)

count of even numbers :  4

## **4. Convert all strings to uppercase inside a nested list.**
Example: `[['hello', 'world'], ['python']]`

In [10]:
lst = [['hello','world'],['python']]

for sub in lst :
    for ele in sub :
        print(ele.upper())

HELLO
WORLD
PYTHON

## **5. For the nested marks list, print total marks of each student.**
`[[80, 90, 85], [75, 70, 65], [88, 92, 79]]`

In [21]:
lst = [[80, 90, 85], [75, 70, 65], [88, 92, 79]]

total = 0
for sub in lst :
    total = sum(sub)
    print(total)

255
210
259

## **6. Create a new list containing numbers greater than 50 from a nested list.**

In [23]:
lst = [[80, 9, 85], [15, 70, 65], [88, 92, 79]]

new_lst = []

for sub in lst :
    for num in sub :
        if num > 50 :
            new_lst.append(num)
new_lst

[80, 85, 70, 65, 88, 92, 79]

## **7. Find the largest number inside a nested list.**

In [1]:
lst = [[80, 9, 85], [15, 70, 65], [88, 92, 79]]

for sub in lst :
    print("maximum number is : ",max(sub))

maximum number is :  85
maximum number is :  70
maximum number is :  92

## **8. Flatten a nested list into a single list.**
`[[1,2], [3,4], [5]] â†’ [1,2,3,4,5]`

In [30]:
lst = [[1,2],[3,4],[5]]
new_lst = []
for sub in lst :
    for num in sub :
        new_lst.append(num)

new_lst

[1, 2, 3, 4, 5]

## **9. Replace all negative numbers with 0 inside a nested list.**

In [119]:
lst = [[80, -9, -85], [15, 70, -65], [-88, 92, 79]]

for i in range(len(lst)) :
    for j in range(len(lst[i])):
        if lst [i][j] < 0 :
            lst [i][j] = 0
    
lst

[[80, 0, 0], [15, 70, 0], [0, 92, 79]]

## **10. Count how many inner lists exist inside a nested list.**

In [47]:
lst = [[80, -9, -85], [15, 70, -65], [-88, 92, 79],[-13,14]]

count = 0

for sub in lst :
    if isinstance(lst,list) :
        count += 1
count

4

## **11. Print each student's name and age from this nested dictionary:**
```
{
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
```

In [54]:

student = {
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}

for key , val in student.items() :
    print(key , val["age"])

A 15
B 16

## **12. Increase every student's marks by 5 in a nested dictionary.**

In [3]:
student = {
  'virat': {'age': 15, 'marks': 50},
  'rohit': {'age': 16, 'marks': 60}
}

for key , val in student.items() :
    print(key , val["marks"]+5)

virat 55
rohit 65

## **13. Print only the inner dictionary keys from a nested dictionary.**

In [9]:
student = {
  'virat': {'age': 15, 'marks': 10},
  'rohit': {'age': 16, 'marks': 11}
}

for name , details in student.items() :
  for key , val in details.items() :
    print(key)

age
marks
age
marks

## **14. Count how many students scored more than 80 in math:**
```
{
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
```

In [ ]:
student = {
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
count = 0
for key, val in student.items() :
    if (val["math"]) > 80 :
        count +=1
    

count

1

## **15. Create a new dictionary of students whose age is above 15.**

In [23]:
dic = {
  'virat': {'age': 13, 'marks': 10},
  'rohit': {'age': 16, 'marks': 11}
}

student = {}

for name,details in dic.items():
    if details["age"] > 15 :
      student[name]=details
      
      
student

{'rohit': {'age': 16, 'marks': 11}}

## **16. Find which student scored highest in science.**

In [30]:
dic = {
  'virat': {'subject': "math", 'marks': 10},
  'rohit': {'subject': "science", 'marks': 11},
  'sachin': {'subject': "chemistry", 'marks': 10},
  'gill': {'subject': "science", 'marks': 50}
}

highest_mark = 0
student_name = ""
for name , details in dic.items() :
    if details["subject"] == "science" :
        if details["marks"] > highest_mark :
            highest_mark = details["marks"]
            student_name = name

print ("highest score in science is : ",student_name,"with ",highest_mark,"marks")

highest score in science is :  gill with  50 marks

## **17. Print employees who belong to the HR department from this dictionary.**

In [44]:
employees = {
    "amit": {"department": "HR", "salary": 30000},
    "neha": {"department": "IT", "salary": 45000},
    "raj": {"department": "Sales", "salary": 25000},
    "pooja": {"department": "HR", "salary": 45000}
}

for name , details in employees.items() :
    if details["department"] == "HR":
        print(name)

amit
pooja

## **18. Delete all entries where the status is 'inactive'.**

In [59]:
employees = {
    "amit": {"department": "HR", "status": "active"},
    "neha": {"department": "IT", "status": "inactive"},
    "raj": {"department": "Sales", "status": "inactive"},
    "pooja": {"department": "HR", "status": "inactive"}
}

remove_list = []
for name , details in employees.items():
    if details["status"] == "inactive":
        remove_list.append(name)
        
remove_list

for r in remove_list :
    del employees[r]
    
print(employees)

{'amit': {'department': 'HR', 'status': 'active'}}

## **19. Find total stock by summing all 'quantity' values in a nested dictionary.**

In [66]:
stock ={
    "Apple":{"Quantity":10,"Price":130},
    "Banana":{"Quantity":9,"Price":60},
    "Strawberry":{"Quantity":24,"Price":350}
}

sum = 0 
for name , details in stock.items():
    sum = sum + details["Quantity"]
    
print("total stock : ",sum)

total stock :  43

## **20. Convert all inner dictionary keys to uppercase.**

In [73]:
stock ={
    "Apple":{"Quantity":10,"Price":130},
    "Banana":{"Quantity":9,"Price":60},
    "Strawberry":{"Quantity":24,"Price":350}
}
new_dict = {}

for name , details in stock.items():
    for key,val in details.items():
        new_dict[key.upper()] = val
        
    stock[name] = new_dict  



stock

{'Apple': {'QUANTITY': 24, 'PRICE': 350},
 'Banana': {'QUANTITY': 24, 'PRICE': 350},
 'Strawberry': {'QUANTITY': 24, 'PRICE': 350}}