### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [1]:
dict = {"name":"sanket","age":20,"city":"kolhapur"}
dict

{'name': 'sanket', 'age': 20, 'city': 'kolhapur'}

### 2. Create a dictionary and print the value of a specific key.

In [2]:
dict = {"name":"sanket","age":20,"city":"kolhapur"}
dict.get('name')

'sanket'

### 3. Create a list of 5 numbers and print the second element.

In [3]:
lst = [1,3,6,4,8]
lst[1]

3

### 4. Add an element "banana" to an existing list.

In [4]:
lst = ['apple','grapes','orange']
lst.append('banana')
lst

['apple', 'grapes', 'orange', 'banana']

### 5. Insert "apple" at index 2 in a list.

In [5]:
lst = ['banana','grapes','orange']
lst.insert(2,'apple')
lst

['banana', 'grapes', 'apple', 'orange']

### 6. Remove the element 10 from a list.

In [6]:
lst = [2,5,8,10,6,8,25,65]
lst.remove(10)
lst

[2, 5, 8, 6, 8, 25, 65]

### 7. Create a tuple with 4 elements and print the last one.

In [7]:
tup = (35,65,78,98)
tup[-1]

98

### 8. Convert a tuple into a list.

In [8]:
tup = (1,2,3,4)

lst = []

lst.extend(tup)

lst

[1, 2, 3, 4]

### 9. Find the length of a given tuple.

In [9]:
tup = (1,3,5,7,9,4,7,6)
len(tup)

8

### 10. Store 5 student names in a list and print them using a loop.

In [10]:
lst = ['sanket','harsh','sujit','sagar','amey']

for i in lst:
    print(i)

sanket
harsh
sujit
sagar
amey

### 11. Create two lists and concatenate them.

In [11]:
lst1 = [1,2,3,4]
lst2 = [8,7,6,5]

lst1.extend(lst2)
lst1

[1, 2, 3, 4, 8, 7, 6, 5]

### 12. Reverse a list without using reverse().

In [12]:
lst = [1,57,2,90,5]
lst[::-1]

[5, 90, 2, 57, 1]

### 13. Sort a list in descending order.

In [13]:
lst = [1,57,2,90,5]
lst.sort(reverse=True)
lst

[90, 57, 5, 2, 1]

### 14. Create a set with 5 numbers and add a new number.

In [14]:
set = {1,2,3,4,5}
set.add(6)
set

{1, 2, 3, 4, 5, 6}

### 15. Remove an element from a set using discard().

In [15]:
set = {1,2,3,4,5,6,7,8}
set.remove(2)
set

{1, 3, 4, 5, 6, 7, 8}

### 16. Find the union of two sets.

In [16]:
set1 = {1,2,3,4}
set2 = {5,6,7,8}

set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

### 17. Find the intersection of two sets.

In [17]:
set1 = {1,2,3,4}
set2 = {4,5,6,7,8}

set1.intersection(set2)

{4}

### 18. Check if a value exists in a set.

In [18]:
set = {1,2,3,4,5,6}

5 in set

True

### 19. Create a set and clear all elements.

In [19]:
set = {1,2,3,4,5,6}
set.clear()
set

set()

### 20. Convert a list with duplicate values into a set.

In [22]:
lst = [1,2,3,2,4,5,3,4,4]
set(lst)

{1, 2, 3, 4, 5}

### 21. Create a dictionary and update the value of a key.

In [ ]:
dict = {"name":"sanket","age":20}
dict.update({"name":"virat"})
dict

{'name': 'virat', 'age': 20}

### 22. Delete a key-value pair from a dictionary.

In [ ]:
dict = {"name":"sanket","age":20}
dict.pop('age')
dict

{'name': 'sanket'}

### 23. Print all keys of a dictionary.

In [ ]:
dict = {"name":"sanket","age":20}
dict.keys()

dict_keys(['name', 'age'])

### 24. Print all values of a dictionary.

In [ ]:
dict = {"name":"sanket","age":20}
dict.values()

dict_values(['sanket', 20])

### 25. Loop through a dictionary and print key and value.

In [28]:
dict = {"name":"sanket","age":20}

for key,value in dict.items() :
    print(i,":",j)

age : 20
age : 20

### 26. Create a list of numbers and print only even numbers.

In [ ]:
lst = [1,2,3,4,5,6,7,8,9]

for i in lst:
    if i % 2 == 0:
        print(i)

2
4
6
8

### 27. Create a tuple and unpack it into 3 variables.

In [ ]:
tup = (10,20,30)

a,b,c = tup

print("vaiable a : ",a)
print("vaiable b : ",b)
print("vaiable c : ",c)

vaiable a :  10
vaiable b :  20
vaiable c :  30

### 28. Check if a number is greater than 10 using a comparison operator.

In [ ]:
num =50

num > 10

True

### 29. Use the in operator to check if "python" exists in a list.

In [ ]:
lst = ["java","python","c++"]

"python" in lst

True

### 30. Use the and operator in a condition.

In [ ]:
num = 10 

num < 15 and num > 5

True

### 31. Use the % operator to check if a number is divisible by 5.

In [ ]:
num = int(input("enter a number : "))

num % 5 == 0

False

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [ ]:
print(2**5)

32

### 33. Create two numbers and compare them using >=.

In [ ]:
num1 = 100
num2 = 75

num1 >= num2

True

### 34. Create a list and remove the last element using pop().

In [ ]:
lst = [1,2,3,4,5,6,7]

lst.pop()

lst

[1, 2, 3, 4, 5, 6]

### 35. Create a list and print its first and last elements.

In [ ]:
lst = [1,2,3,4,5,6,7]

result = [lst[0],lst[-1]]
result

[1, 7]

### 36. Count how many times "apple" appears in a list.

In [ ]:
lst = ['banana','apple','grapes','apple']
lst.count('apple')

2

### 37. Create a tuple and check if a value exists using in.

In [ ]:
tup = (1,2,3,4,5,7,8,54,33)

num = int(input("number you want to find in tuple : "))
num in tup

True

### 38. Convert a dictionaryâ€™s keys into a list.

In [ ]:
dict = {"name":"sanket","age":20}

lst = list(dict.keys())
lst

['name', 'age']

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [ ]:
dict = {"name":"sanket",
        "marks":{
            "mathematics":85,
            "english":40,
            "science":90},
        "subject":{"science","english","mathematics"}
        }

dict

{'name': 'sanket',
 'marks': {'mathematics': 85, 'english': 40, 'science': 90},
 'subject': {'english', 'mathematics', 'science'}}

### 40. Merge two dictionaries into one.

In [ ]:
dict1 = {"name":"sanket","age":20}
dict2 = {"location":"pune","bg":"A+"}

dict1.update(dict2)
dict1

{'name': 'sanket', 'age': 20, 'location': 'pune', 'bg': 'A+'}

### 41. Create a set and print the number of elements.

In [ ]:
set = {1,2,3,45,6,78}

len(set)

6

### 42. Create a dictionary and print all items using items().

In [ ]:
dict = {"name":"sanket","age":20}
dict.items()

dict_items([('name', 'sanket'), ('age', 20)])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [2]:
lst = [1,2,3,4,5,6,7,8,9,10]

for i in lst:
    print("square of ",i," is : ",i**2)

square of  1  is :  1
square of  2  is :  4
square of  3  is :  9
square of  4  is :  16
square of  5  is :  25
square of  6  is :  36
square of  7  is :  49
square of  8  is :  64
square of  9  is :  81
square of  10  is :  100

### 44. Multiply two numbers and print the result using *.

In [ ]:
num1 = 10
num2 = 5

result = num1 * num2
print(result)

50

### 45. Divide two numbers and print the results using / and //.

In [ ]:
num1 = 10
num2 = 5

result = num1 // num2  #integer result
                        # float result --> num1 /num2
print(result)

2

### 46. Create a list and replace the element at index 1.

In [ ]:
lst = [1,2,3,4,5,6,7]
lst[1] = 88
lst

[1, 88, 3, 4, 5, 6, 7]

### 47. Create a tuple from user input (3 values).

In [ ]:
a = int(input("enter 1st value : "))
b = int(input("enter 2nd value : "))
c = int(input("enter 3rd value : "))
tup = (a,b,c)
tup

(4, 5, 6)

### 48. Create a set from a string and print all unique characters.

In [ ]:
name = "sankkeet"

new_set  = set(name)

new_set

{'a', 'e', 'k', 'n', 's', 't'}

### 49. Use the is operator to compare two variables.

In [ ]:
var1 = 10
var2 = 50

var1 is var2

False

### 50. Create a dictionary and check if a key exists using in.

In [ ]:
dict = {"name":"sanket","age":20,"location":"pune"}

"name" in dict

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [ ]:
num = int(input("enter a number : "))

if num <50 and num >10:
    print("the number is between 10 and 50")
    
else:
    print("the number is not between 10 and 50")

the number is between 10 and 50

### 52. Check if a number is less than 5 or greater than 20 using or.

In [ ]:
num = int(input("enter a number : "))

if num <5 or num >20:
    print(True)
else:
    print(False)

False

### 53. Use not to check if a list is not empty.

In [ ]:
lst = [1,2,3,4,5]

if not lst:
    print("the list is empty")
else:
    print("the list is not empty")

the list is not empty

### 54. Write code to check if a character is a vowel using or.

In [ ]:
str = input("enter character : ")
ip = str.lower()

if ip =='a' or ip =='e' or ip == 'i' or ip == 'o' or ip == 'u':
    print("character is vowel")
else:
    print("character is not a vowel")

character is vowel

### 55. Check if a dictionary has both keys "name" and "age".

In [23]:
dict = {"name":"sanket","age":20,"location":"pune"}

if "name" in dict and "age" in dict:
    print("both keys present")

both keys present

### 56. Verify if a set contains either 10 or 20.

In [ ]:
set = {1,2,3,4,20,45,67}

10 in set or 20 in set

True

### 57. Use not to check if a number is not equal to 100.

In [ ]:
num = 18

if not num == 100:
    print("number is not equal to 100")
else:
    print("number is equal to 100")

number is not equal to 100

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [ ]:
marks = 40
attendance = 80

if marks > 35 and attendance > 75 :
    print("student Passed")
else:
    print("student Failed")

student Passed

### 59. Use logical operators to check if a number is positive and even.

In [ ]:
num = 10

if num % 2 == 0 and num > 0:
    print("the number is even and positive")
else :
    print("the number is odd and negative")

the number is even and positive

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [ ]:
tup = (1,2,3,4)

0 in tup or len(tup) > 3

True