### What is a function in Python?

In [1]:
# function is a block of code designed to perform a specific task.

def show():
    print("this is my first function")
    
show()

this is my first function

### Write the correct syntax of a Python function.

In [2]:
'''
def function_name(parameter1,parameter2,......,parametern) :
    statement_1
    statement2
    
    return value
    
    
'''

def add(a,b) :
    addition = a+b
    return addition

add(30,50)

80

### What is the default return value of a function if no return statement is used?

In [4]:
# In Python, the default return value of a function without return statement is None.

def add(a,b) :
    addition = a+b
    
    
add(30,40)

### Define a function named hello() that prints "Hello World".

In [5]:
def hello():
    print("Hello World")
    
hello()

Hello World

### What is the difference between a parameter and an argument? Write a function with two parameters a and b that returns their sum.

In [ ]:
# parameters - Variables defined in the function declaration
#            - Part of the function declaration

# arguments - Actual values or variables passed to the function
#           - Passed to the function when it is called

def add(a,b) :  # (a,b) parameters
    sum = a+b
    return sum

add(30,50)      # (30,50) arguments

80

### What are positional arguments? Give an example.

In [1]:
# positional arguments are the arguments passed to a function based on the position

def details(name,age) :
    print("name : ",name)
    print("age : ",age)
    
details("sanket",20)

# "sanket" --> name
# 20 --> goes to age

name :  sanket
age :  20

### What are keyword arguments? Give an example.

In [11]:
# This means when calling the function, 
# They specify which parameter a value belongs to using key = value.
# Order does not matter while passing arguments.

def info(name, age, city):
    print(name, age, city)

info(age=21,name="Rahul", city="Pune")

Rahul 21 Pune

### What are default parameters? Write a function with a default parameter country="India" that prints "I live in <country>".

In [3]:
# Default parameters are defined inside the function definition.
# They provide a default value for a parameter if no value is passed when calling the function.
# If the user does not pass a value, the default value is used.

def country_data(country="India"):
    print("I live in",country)
    
country_data()

I live in India

### Write a function square(n) that returns the square of a number.

In [5]:
def square(num):
    print(f"Square of a number {num} is :",num ** 2)
    
square(2)

Square of a number 2 is : 4

### What does *args mean in Python? Write a function that accepts any number of values using *args and prints them.

In [6]:
'''
In Python, *args is used in a function definition to allow the function to accept any number of positional arguments.
The values passed to *args are stored in a tuple, and you can loop through them or access them by index.
*args stands for “arbitrary arguments”, meaning the number of arguments is not fixed.

'''

def print_values(*args):
    for value in args:
        print(value)

# Calling the function with different number of arguments
print_values(10, 20, 30)
print_values("apple", "banana", "mango", 100)

10
20
30
apple
banana
mango
100

### What does **kwargs mean? Write a function that prints all keyword arguments using **kwargs.

In [3]:
'''
**kwargs stands for keyword arguments.
It allows a function to accept any number of keyword arguments (arguments in the form of key=value) without knowing them in advance.

kwargs is a dictionary that stores all the keyword arguments passed to the function.

** is used to unpack the dictionary.

'''

def print_kwargs(**kwargs) :
    for key,val in kwargs.items() :
        print(key,":",val)
        
print_kwargs(name="sanket",age=20,city="pune")

name : sanket
age : 20
city : pune

### Write a function that returns two values: the sum and product of two numbers. Can a Python function return multiple values? How?

In [ ]:
# Yes, a Python function can return multiple values.
# Python allows returning multiple values by separating them with commas.

def print_value(a,b):
    sum_value =  a+b
    product_value =  a*b
    
    return sum_value,product_value

print_value(10,20)

(30, 200)

### Write a function even_or_odd(n) that returns "Even" or "Odd".

In [10]:
def even_or_odd(num) :
    if num % 2 == 0 :
        return f"{num} : even "
    else :
        return f"{num} : Odd"
    
even_or_odd(5)

'5 : Odd'

### Write an adapter function that takes a list of operations and executes add, sub, mul, div based on input. 

### Example: [ {"op": "add", "a": 10, "b": 20}, {"op": "mul", "a": 4, "b": 5} ]

In [66]:
def add(a,b):
    return a+b

def sub(a,b):
    return a-b

def mul(a,b):
    return a*b

def div(a,b):
    return a/b

def select_option(option,ip):
    for choice in option:
        if choice['op'] == ip:
            a = choice['a']
            b = choice['b']
            if ip == 'add':
                return add(a,b)
            elif ip == 'sub':
                return sub(a,b)
            elif ip == 'mul':
                return mul(a,b)
            elif ip == 'div':
                return div(a,b)

lst = [ {"op": "add", "a": 10, "b": 20}, 
       {"op": "mul", "a": 4, "b": 5} ,
       {"op": "sub", "a": 14, "b": 5},
       {"op": "div", "a": 14, "b": 7}]

select_option(lst,'div')

2.0

### Write a function process_students(data) that prints total marks and grade for each student.
- Example: [ {"name":"A", "marks":[80,90,70]}, {"name":"B", "marks":[60,75,65]} ] 
- Expected Output: Name: A | Total: 240 | Grade: A Name: B | Total: 200 | Grade: B

In [9]:
def process_students(data):
    for student in data:
        name = student["name"]
        marks= student["marks"]
        
        total= sum(marks)
        
        if total >= 240 :
            grade = 'A'
        elif total >= 180 :
            grade = 'B'
        elif total >= 150 :
            grade = 'C'
        else :
            grade = 'F'
        
        print(f"{name}|Total:{total}|Grade:{grade}")
        
 
        
stud_list = [ {"name":"A", "marks":[80,90,70]}, {"name":"B", "marks":[60,75,65]} ] 

process_students(stud_list)

A|Total:240|Grade:A
B|Total:200|Grade:B

### Create a function apply_discounts(products) that updates price after discount. 
- Example: [ {"name":"Laptop", "price":50000, "discount":10}, {"name":"Phone", "price":20000, "discount":5} ] 
- Expected Output: Laptop final: 45000 Phone final: 19000

In [18]:
def apply_discount(products):
    for val in products:
        name = val['name']
        price = val['price']
        disc = val['discount']
        
        discount_price = price * disc // 100
        
        final_price = price - discount_price
        
        print(f"{name} final:{final_price}")


lst = [ {"name":"Laptop", "price":50000, "discount":10},{"name":"Phone","price":20000, "discount":5} ]

apply_discount(lst)

Laptop final:45000
Phone final:19000

### Write a function generate_report(employees) that calculates bonus based on salary slabs. 
- Slabs: 
- salary > 50,000 → bonus = 15%, 
- salary 30,000–50,000 → bonus = 10%, 
- salary < 30,000 → bonus = 5%. 

#### Example employees = 
- [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

In [23]:
def generated_report(employees):
    for details in employees:
        name = details['name']
        salary = details['salary']
        
        if salary > 50000 :
            bonus = salary * 15 / 100
            print(f"Name:{name}|salary:{salary}|Bonus:{bonus}")
        elif salary >= 30000 and salary <= 50000 :
            bonus = salary * 10 / 100
            print(f"Name:{name}|salary:{salary}|Bonus:{bonus}")
        elif salary < 30000 :
            bonus = salary * 5 / 100
            print(f"Name:{name}|salary:{salary}|Bonus:{bonus}")
         



lst = [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, 
       {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, 
       {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, 
       {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, 
       {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

generated_report(lst)

Name:Amit|salary:55000|Bonus:8250.0
Name:Neha|salary:40000|Bonus:4000.0
Name:Raj|salary:65000|Bonus:9750.0
Name:Simran|salary:60000|Bonus:9000.0
Name:Vijay|salary:35000|Bonus:3500.0

### Write a function get_employee_names(emp_list) that returns a list of all employee names.

In [ ]:
def get_employee_names(emp_list):
    names = []
    for details in emp_list:
        names.append(details['name'])
    return names
        
lst = [
    {"id": 101, "name": "Amit", "age": 28, "department": "IT"},
    {"id": 102, "name": "Neha", "age": 24, "department": "HR"},
    {"id": 103, "name": "Raj", "age": 31, "department": "Finance"},
    {"id": 104, "name": "Simran", "age": 29, "department": "IT"},
    {"id": 105, "name": "Vijay", "age": 35, "department": "Admin"}
]

get_employee_names(lst)

['Amit', 'Neha', 'Raj', 'Simran', 'Vijay']

### Write a function filter_by_department(emp_list, dept) that returns employees belonging to a specific department.

In [36]:
def filter_by_department(emp_list,dept):
    new_lst = []
    for details in emp_list:
        
        if details['department'] == dept :
            new_lst.append(details['name'])
            
    return new_lst      

lst = [
    {"id": 101, "name": "Amit", "age": 28, "department": "IT"},
    {"id": 102, "name": "Neha", "age": 24, "department": "HR"},
    {"id": 103, "name": "Raj", "age": 31, "department": "Finance"},
    {"id": 104, "name": "Simran", "age": 29, "department": "IT"},
    {"id": 105, "name": "Vijay", "age": 35, "department": "Admin"}
]

filter_by_department(lst,'IT')

['Amit', 'Simran']

### Write a function highest_salary(emp_list) that returns the employee with the highest salary.

In [41]:
def highest_salary(emp_list):
    max_salary = 0
    for details in emp_list:
        if details['salary'] > max_salary:
            max_salary = details['salary']
            return details['name'],max_salary
        
    
        


lst = [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 95000}, 
       {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, 
       {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, 
       {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, 
       {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

highest_salary(lst)

('Amit', 95000)

### Write a function average_salary(emp_list) that returns the average salary.

In [44]:
def average_salary(emp_list):
    count = 0
    sum = 0
    for details in emp_list:
        count += 1
        sum += details['salary']
        
    avg_salary = sum / count
    return f"average salary :{avg_salary}"

lst = [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 95000}, 
       {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, 
       {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, 
       {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, 
       {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

average_salary(lst)

'average salary :59000.0'

### Write a function salary_hike(emp_list, percent) that increases each salary by given percent.

In [49]:
def salary_hike(emp_list,percent):
    for details in emp_list:
        hike = details['salary'] * percent / 100
    
        details['salary'] = details['salary'] + hike
    print(emp_list)


lst = [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 95000}, 
       {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, 
       {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, 
       {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, 
       {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

salary_hike(lst,10)

[{'id': 101, 'name': 'Amit', 'age': 28, 'department': 'IT', 'salary': 104500.0}, {'id': 102, 'name': 'Neha', 'age': 24, 'department': 'HR', 'salary': 44000.0}, {'id': 103, 'name': 'Raj', 'age': 31, 'department': 'Finance', 'salary': 71500.0}, {'id': 104, 'name': 'Simran', 'age': 29, 'department': 'IT', 'salary': 66000.0}, {'id': 105, 'name': 'Vijay', 'age': 35, 'department': 'Admin', 'salary': 38500.0}]

### Write out_of_stock(items) that returns all products with stock < 20.

In [51]:
def out_of_stock(items):
    out_items = []
    for item in items:
        if item['stock'] < 20 :
            out_items.append(item['name'])
    return out_items

lst = [
    {"id": 1, "name": "Pen", "stock": 15},
    {"id": 2, "name": "Notebook", "stock": 50},
    {"id": 3, "name": "Pencil", "stock": 10},
    {"id": 4, "name": "Eraser", "stock": 5},
    {"id": 5, "name": "Marker", "stock": 30}
]

out_of_stock(lst)

['Pen', 'Pencil', 'Eraser']

### Write total_inventory_value(items) → sum(price * stock).

In [55]:
def total_inventory_value(item):
    
    for i in item :
        total = 0
        item_value = i['price'] * i['stock']
        print(f"inventory value of {i['name']} = {item_value}")
        
        total = total + item_value  
        
    return f"Total Inventory Value = {total}"
    
lst = [
    {"name": "Pen", "price": 10, "stock": 50},
    {"name": "Notebook", "price": 40, "stock": 30},
    {"name": "Pencil", "price": 5, "stock": 100},
    {"name": "Marker", "price": 25, "stock": 20}
]

total_inventory_value(lst)

inventory value of Pen = 500
inventory value of Notebook = 1200
inventory value of Pencil = 500
inventory value of Marker = 500

'Total Inventory Value = 500'

### Write search_product(items, name) → return matching product(s).

In [58]:
def search_product(items,name):
    for details in items:
        if details['name'] == name:
            return details
            
    
    

lst = [
    {"name": "Pen", "price": 10, "stock": 50},
    {"name": "Notebook", "price": 40, "stock": 30},
    {"name": "Pencil", "price": 5, "stock": 100},
    {"name": "Marker", "price": 25, "stock": 20}
]

search_product(lst, "Pen")

{'name': 'Pen', 'price': 10, 'stock': 50}