### 1. Print numbers from 1 to 10 using a for loop

In [1]:
for i in range(1,11) :
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [4]:
for i in range(1,20) :
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18

### 3. Print each character of the string 'Python' using a for loop

In [5]:
str = "Python"

for char in str :
    print(char)

P
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [2]:
for i in range(1,6) :
    print(f"square of {i} is : ",i**2)

square of 1 is :  1
square of 2 is :  4
square of 3 is :  9
square of 4 is :  16
square of 5 is :  25

### 5. Print all elements of a list using a for loop

In [3]:
lst = [1,2,3,4,5,6]

for i in lst :
    print(i)

1
2
3
4
5
6

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [7]:
sum = 0
for i in range(1,51) :
    sum += i
    
print("sum of 1 to 150 is : ",sum)

sum of 1 to 150 is :  1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [18]:
for i in range(10,0,-1) :
    print(i)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [20]:
for i in range (7,71,7) :
    print(i)

7
14
21
28
35
42
49
56
63
70

### 9. Count how many vowels are in the string 'education' using a for loop

In [33]:
str = "education"
vowel = "aeiou"
count = 0 
for ch in str :
    if ch in vowel :
        count += 1
        
print("total counts : ",count)

total counts :  5

### 10. Print all odd numbers from 1 to 30 using a for loop

In [36]:
for num in range(1,31) :
    if num % 2 != 0 :
        print(num)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a string using a for loop

In [41]:
str = "SankET"
count = 0
for ch in str :
    if ch.isupper() :
        count += 1
        
print("count of uppercase character is : ",count)

count of uppercase character is :  3

### 12. Create a new list that contains only the positive numbers from another list

In [ ]:
lst = [12,43,-11,-67,87,-8]

new_lst = []

for num in lst :
    if num >= 0 :
        new_lst.append(num)
new_lst

[12, 43, 87]

### 13. Print numbers from 1 to 10 using a while loop

In [48]:
num = 1
while num <= 10 :
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [51]:
num = 5

while num <= 50 :
    print(num)
    num += 5

5
10
15
20
25
30
35
40
45
50

### 15. Print numbers from 10 to 1 in reverse using a while loop

In [53]:
num = 10 

while num >= 1 :
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1

### 16. Keep asking the user to enter numbers until the user enters 0

In [61]:
ip = int(input("enter number : "))

while ip != 0 :
    ip = int(input("enter number : "))

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [69]:
num = 1 
sum = 0
while num <= 10 :
    sum += num
    num += 1
    
print("sum of 1st 10 natural numbers is : ",sum)

sum of 1st 10 natural numbers is :  55

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [177]:
dic = {"mango":100,"grapes":250,"apple":120,"cherry":520}

for key in dic :
    print(key)

mango
grapes
apple
cherry

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [108]:
dic = {"mango":100,"grapes":250,"apple":120,"cherry":520}

for val in dic.values() :
    print(val)

100
250
120
520

### 20. Print both keys and values of a dictionary using a for loop

In [110]:
dic = {"mango":100,"grapes":250,"apple":120,"cherry":520}

for key,val in dic.items() :
    print(key,val)

mango 100
grapes 250
apple 120
cherry 520

### 21. Count how many keys are in a dictionary using a for loop

In [112]:
dic = {"mango":100,"grapes":250,"apple":120,"cherry":520}

count = 0
for key in dic :
    count = count + 1
    
count

4

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [114]:
dic = {"mango":100,"grapes":250,"apple":120,"cherry":520}

for key in dic :
    if (key.startswith('a')) :
        print(key)

apple

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [119]:
students = {
    "Rohan": 85,
    "Sita": 78,
    "Amit": 92,
    "Neha": 67,
    "Karan": 88
}

for name, marks in students.items() :
    if marks > 80 :
        print(name)

Rohan
Amit
Karan

### 24. Given a dictionary, print the sum of all the values using a for loop

In [122]:
students = {
    "Rohan": 85,
    "Sita": 78,
    "Amit": 92,
    "Neha": 67,
    "Karan": 88
}

sum = 0
for key , val in students.items() :
    sum += val
    
sum

410

### 25. Given a dictionary, find the key with the highest value using a for loop

In [ ]:
students = {
    "Rohan": 85,
    "Sita": 78,
    "Amit": 92,
    "Neha": 67,
    "Karan": 88
}

for key , val in students.items() :
    print(val)

85
78
92
67
88

### 26. Convert all dictionary keys into a list using a for loop

In [132]:
students = {
    "Rohan": 85,
    "Sita": 78,
    "Amit": 92,
    "Neha": 67,
    "Karan": 88
}

lst = []

for key in students.keys():
    lst.append(key)
lst

['Rohan', 'Sita', 'Amit', 'Neha', 'Karan']

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [135]:
word = {"sanket":len("sanket"),"hello":len("hello"),"abc":len("abc"),"aman":len("aman"),"ram":len("ram")}

for word ,length in word.items() :
    print(word, "=" ,length)

sanket = 6
hello = 5
abc = 3
aman = 4
ram = 3

### 28. Given a list of numbers, print only numbers greater than 10

In [136]:
lst = [1,2,4,4,56,10,87,90,77]

for num in lst:
    if num > 10 :
        print(num)

56
87
90
77

### 29. Count how many elements in a list are integers using a for loop

In [145]:
lst = ['a',45,68,99,-23,66,-48,-88,'b',89,"abc"]
count = 0
for element in lst :
    if isinstance(element,int) :
        count += 1
        print(element)
        
print("count of integer number is : ",count)

45
68
99
-23
66
-48
-88
89
count of integer number is :  8

### 30. Print the sum of all even numbers in a list using a for loop

In [151]:
lst = ['a',45,68,99,-23,66,-48,-88,'b',89,"abc"]
sum = 0
for num in lst :
    if isinstance(num,int) and num > 0:
        if num % 2 == 0 :
            sum += num
            
sum

134

### 31. Print the cube of each number in a list of 5 numbers

In [153]:
lst =[1,2,3,4,5]

for num in lst :
    print(f"cube of {num} is : ",num ** 3)

cube of 1 is :  1
cube of 2 is :  8
cube of 3 is :  27
cube of 4 is :  64
cube of 5 is :  125

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [155]:
str = "Python is fun"

for ch in str :
    print(ch)

P
y
t
h
o
n

i
s

f
u
n

### 33. Print the first 5 multiples of 3 using a for loop

In [159]:
num = 3

for i in range(5,30,5) :
    print(i)

5
10
15
20
25

### 34. Print only names that start with 'A' from a list of names

In [161]:
lst = ["Amit","Sanjay","Amar","John"]

for name in lst :
    if name.startswith('A'):
        print(name)

Amit
Amar

### 35. Find the largest number in a list using a for loop

In [164]:
lst = [1,34,56,78,99,45,33,2,34]

for num in lst :
    a= max(lst)
    
print("maximum value is : ",a)

maximum value is :  99

### 36. Print the index and value of each element in a list

In [172]:
lst = [1,34,56,78,99,45,33,2,34]

for num in range(len(lst)):
    print(num ," : " ,lst[num])

0  :  1
1  :  34
2  :  56
3  :  78
4  :  99
5  :  45
6  :  33
7  :  2
8  :  34

### 37. Create a dictionary with 5 students and their marks

In [174]:
dic = {"sanket":88,"mahesh":80,"raj":90,"joy":70,"ram":75}

### 38. Use a for loop to print all student names

In [176]:
dic = {"sanket":88,"mahesh":80,"raj":90,"joy":70,"ram":75}

for name in dic:
    print(name)

sanket
mahesh
raj
joy
ram

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [178]:
dic = {"mango":100,"grapes":250,"apple":120,"cherry":520}

for fruit,price in dic.items() :
    print(fruit," : ",price)

mango  :  100
grapes  :  250
apple  :  120
cherry  :  520

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [184]:
dic = {"mango":100,"grapes":250,"apple":120,"cherry":520}

for fruit,price in dic.items() :
    # print(fruit,price)
    dic[fruit] = price + (price * 10/100)
    
dic

{'mango': 110.0, 'grapes': 275.0, 'apple': 132.0, 'cherry': 572.0}

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [14]:
products = {
    "mango": 80,
    "banana": 40,
    "apple": 120,
    "grapes": 150,
    "cherry": 20,
    "orange": 60,
    "watermelon": 180,
    "pineapple": 9,
    "kiwi": 130,
    "strawberry": 250
}

remove_keys = []

for fruit,price in products.items() :
    if price < 50 :
        remove_keys.append(fruit)
        
for key in remove_keys :
    del products[key]
    
products

{'mango': 80,
 'apple': 120,
 'grapes': 150,
 'orange': 60,
 'watermelon': 180,
 'kiwi': 130,
 'strawberry': 250}

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

In [17]:
dic = {"marathi":80,"hindi":70,"maths":90}

dic["history"] = 95

for key,val in dic.items() :
    print(key,val)

marathi 80
hindi 70
maths 90
history 95

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [ ]:
dic = {"john" :20,"marry":18,"jack":25,"rony":17}

for key,val in dic.items() :
    val = val + 1 
    print(key,val)

john 21
marry 19
jack 26
rony 18

### 44. Print numbers from 0 to 9 using range()

In [20]:
for num in range(0,10) :
    print(num)

0
1
2
3
4
5
6
7
8
9

### 45. Print numbers from 5 to 15 using range()

In [22]:
for num in range(5,16) :
    print(num)

5
6
7
8
9
10
11
12
13
14
15

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [23]:
for num in range(1,21,2) :
    print(num)

1
3
5
7
9
11
13
15
17
19

### 47. Print the length of a given list using len()

In [24]:
lst = [1,2,3,4,5,2,1,3,5,6]

len(lst)

10

### 48. Print the length of a given string using len()

In [25]:
str = "hello laptop"

len(str)

12

### 49. Use range() and len() to iterate over a list by index and print each element

In [29]:
lst = [1,2,3,4,5,2,1,3,5,6]

for num in range(len(lst)) :
    print(num," : ",lst[num])

0  :  1
1  :  2
2  :  3
3  :  4
4  :  5
5  :  2
6  :  1
7  :  3
8  :  5
9  :  6

### 50. Print the sum of numbers from 1 to 100 using range()

In [33]:
sum = 0
for num in range(1,101) :
    sum += num
    
print("sum of numbers from 1 to 100 is : ",sum)

sum of numbers from 1 to 100 is :  5050