# üìù Python Assignment ‚Äì Nested Lists & Nested Dictionaries
## Medium Level Questions (20)
### Instructions:
- Write all your answers in the code cells provided.
- Do not erase the questions.
- Use loops (`for` / `while`) wherever necessary.
---

## **1. Print every element inside this nested list:**
`[[1,2,3], [4,5], [6,7,8,9]]`

In [ ]:
# Write your answer here

## **2. Find the sum of all numbers inside a nested list.**
Example: `[[10,20], [30], [5, 7, 8]]`

In [ ]:
# Write your answer here

## **3. Count how many even numbers are present in a nested list.**

In [ ]:
# Write your answer here

## **4. Convert all strings to uppercase inside a nested list.**
Example: `[['hello', 'world'], ['python']]`

In [ ]:
# Write your answer here

## **5. For the nested marks list, print total marks of each student.**
`[[80, 90, 85], [75, 70, 65], [88, 92, 79]]`

In [ ]:
# Write your answer here

## **6. Create a new list containing numbers greater than 50 from a nested list.**

In [ ]:
# Write your answer here

## **7. Find the largest number inside a nested list.**

In [ ]:
# Write your answer here

## **8. Flatten a nested list into a single list.**
`[[1,2], [3,4], [5]] ‚Üí [1,2,3,4,5]`

In [ ]:
# Write your answer here

## **9. Replace all negative numbers with 0 inside a nested list.**

In [ ]:
# Write your answer here

## **10. Count how many inner lists exist inside a nested list.**

In [ ]:
# Write your answer here

## **11. Print each student's name and age from this nested dictionary:**
```
{
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
```

In [ ]:
# Write your answer here

## **12. Increase every student's marks by 5 in a nested dictionary.**

In [ ]:
# Write your answer here

## **13. Print only the inner dictionary keys from a nested dictionary.**

In [ ]:
# Write your answer here

## **14. Count how many students scored more than 80 in math:**
```
{
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
```

In [ ]:
# Write your answer here

## **15. Create a new dictionary of students whose age is above 15.**

In [ ]:
# Write your answer here

## **16. Find which student scored highest in science.**

In [ ]:
# Write your answer here

## **17. Print employees who belong to the HR department from this dictionary.**

In [ ]:
# Write your answer here

## **18. Delete all entries where the status is 'inactive'.**

In [ ]:
# Write your answer here

## **19. Find total stock by summing all 'quantity' values in a nested dictionary.**

In [ ]:
# Write your answer here

## **20. Convert all inner dictionary keys to uppercase.**

In [ ]:
# Write your answer here