---> String Operations <--

In [1]:
str1 = "india"
str2 = "MAHARASHTRA"

In [2]:
print(str1)
print(str2)

india
MAHARASHTRA

In [3]:
# capitalize() --> convert 1 st Letter in Capital

str1 = "india"
str1.capitalize()

'India'

In [4]:
# casefold() --> converts a string into lowercase but in a more aggressive and powerful way than lower()

str2 = "MAHARASHTRA"
str2.casefold()

'maharashtra'

In [5]:
# center() --> returns a new string of a specified width, with the original string placed in the center.
# Spaces or a custom character are used to fill both sides.

str1 = "india"
str2 = "MAHARASHTRA"
a = str1.center(20,'*')
print(a)

b = str2.center(30)
print(b)

*******india********
         MAHARASHTRA

In [ ]:
# count() --> Returns count of (char) in "MAHARASHTRA" String

str2 = "MAHARASHTRA"
str2.count('A')

4

In [ ]:
# encode() --> converts a string (str) into bytes

str3 = "मराठी";
str3.encode()

b'\xe0\xa4\xae\xe0\xa4\xb0\xe0\xa4\xbe\xe0\xa4\xa0\xe0\xa5\x80'

In [6]:
# endswith() --> checks the string ends with the passed letter/word
str1 = "india"
str1.endswith('dia')

True

In [7]:
# expandtabs() --> replaces all tab characters (\t) in a string with spaces according to the specified tab size. 

str4 = "hello\tsanket"
str4.expandtabs(15)

'hello          sanket'

In [8]:
# find() --> returns the index of the first occurrence of the specified substring, or -1 if not found. str1 = "india"

str1 = "india"
str1.find('n')

1

In [9]:
# format() --> inserts values into a string using placeholders {}.

str5 = "my name is {} and my age is {}." 
str5.format("Sanket",24)

'my name is Sanket and my age is 24.'

In [10]:
# format_map() --> formats a string by replacing placeholders using a dictionary as the value source.

str6 = "my name is {name} and my age is {age}."
dict = {"name":"Sanket" , "age" : 24}
str6.format_map(dict)

'my name is Sanket and my age is 24.'

In [11]:
# index() --> Return the lowest index in String where substring sub is found.

str1 = "india"
str1.index('a')

4

In [12]:
# isalnum() --> returns True if the string contains only alphabets and numbers, otherwise False.

print("Python123".isalnum())   # True
print("Python 123".isalnum())  # False  (space not allowed)
print("123".isalnum())         # True
print("Hello!".isalnum())      # False  (! not allowed)

True
False
True
False

In [23]:
# isalpha() --> Returns True if the string has only alphabets (A–Z, a–z).

print("Python".isalpha())  # True
print("Python3".isalpha())  # False because of number
print("Hello World".isalpha())  # False because of space

True
False
False

In [14]:
"""
isascii() --> returns True if all characters in the string are ASCII (0–127), otherwise False.

ASCII includes:
English letters (A–Z, a–z)
Digits (0–9)
Basic symbols (! @ # $ % …)
Spaces
Newlines

"""
print("Python123".isascii())      # True
print("Hello!".isascii())         # True
print("नमस्ते".isascii())         # False  (Hindi characters)
print(" ".isascii())              # True

True
True
False
True

In [15]:
# isdecimal() --> returns True only if all characters in the string are decimal digits (0–9).

print("123".isdecimal())       # True
print("12.5".isdecimal())      # False  (dot not allowed)
print("½".isdecimal())         # False  (fraction symbol not allowed)
print("④".isdecimal())         # False  (circled numbers not allowed)
print("123a".isdecimal())      # False

True
False
False
False
False

In [16]:
# isdigit() --> returns True if all characters in the string are digits, 
# including some special digit characters like superscripts and circled numbers.

print("123".isdigit())        # True
print("④".isdigit())          # True  # circled digit
print("²".isdigit())          # True  # superscript digit
print("12a".isdigit())        # False
print("12.5".isdigit())       # False  # dot not allowed
print("½".isdigit())          # False  # fraction not allowed

True
True
True
False
False
False

In [17]:
"""
isidentifier() — What it checks?

A string is a valid identifier only if:
It starts with a letter (A-Z / a-z) or underscore _
After that, it can contain letters, digits, or underscores
No spaces
No special characters

"""
print("name".isidentifier())       # True
print("first_name".isidentifier()) # True
print("name1".isidentifier())      # True
print("_value".isidentifier())     # True

print("1name".isidentifier())      # False (cannot start with digit)
print("my-name".isidentifier())    # False (hyphen not allowed)
print("my name".isidentifier())    # False (space not allowed)
print("total$".isidentifier())     # False ($ not allowed)
print("for".isidentifier())        # True (BUT it is a keyword)

True
True
True
True
False
False
False
False
True

In [19]:
# islower() --> Return True if the string is a lowercase string, False otherwise.

str1 = "india"
str1.islower()

True

In [20]:
# isnumeric() --> Return True if the string is a numeric string, False otherwise.
# isnumeric() is the most powerful method to check numbers in a string.
# It accepts digits, superscripts, fractions, roman numerals, circled digits.
# Does not allow decimal points like "12.5"
# Does not allow letters

str1 = "india"
str1.isnumeric()

False

In [70]:
# isprintable() --> is a Python string method that checks whether all characters in the string are printable.

print("Hello".isprintable())       # True (all characters visible)

print("Hello123".isprintable())    # True

print("Hello!".isprintable())      # True

print(" ".isprintable())           # True (space is printable)

print("Hello\nWorld".isprintable())  # False (\n is not printable)

print("Hello\tWorld".isprintable())  # False (\t is not printable)

print("".isprintable())            # True (empty string is printable)

print("₹100".isprintable())        # True (Indian Rupee symbol is printable)

True
True
True
True
False
False
True
True

In [ ]:

# upper() --> Return a copy of the string converted to uppercase.

str1 = "india"
str1.upper()

'INDIA'

In [29]:
# lower() --> Return a copy of the string converted to uppercase.

str2 = "MAHARASHTRA"
str2.lower()

'maharashtra'

In [ ]:
# title() --> Makes each word start with a capital letter.

str1 = "hello my name is sanket"
str1.title()

'Hello My Name Is Sanket'

In [ ]:
# replace() --> replace(old, new)

str1 = "india is my country"
str1.replace('country','love')

'india is my love'

In [ ]:
# split() --> Return a list of the substrings in the string, using sep as the separator string.

str1="hello boys how are you"
str1.split()

['hello', 'boys,', 'how', 'are', 'you']

In [ ]:
# join() --> separator.join(iterable)

str1 = "-"
str2 = "python"

str1.join(str2)

'p-y-t-h-o-n'

In [44]:
# ****************************************************************************************************************************************************

List Operations

In [ ]:
# Create List and show List
lst = [1,2,3,4,5,6,7,5,4,6,4,9]

lst

[1, 2, 3, 4, 5, 6, 7, 5, 4, 6, 4, 9]

In [ ]:
# append() --> add element in the last
lst.append(8)
lst

[1, 2, 3, 4, 5, 6, 7, 5, 4, 6, 4, 9, 8]

In [ ]:
# count() --> count how many times passsed argument occurs in list
lst.count(4)

3

In [ ]:
# extend() --> Extend list by appending elements from the iterable.

lst1 = [1,2,3,4]
lst2 = [6,7,8]
lst1.extend(lst2)

lst1

[1, 2, 3, 4, 6, 7, 8]

In [ ]:
# index() --> Return first index of value.
lst = [1,2,3,4,5,6,7,5,4,6,4,9]
lst.index(4)

3

In [ ]:
# insert() --> Insert object before index.
lst1 = [4,5,6]
lst1.insert(1,8)
print(lst1)

[4, 8, 5, 6]

In [75]:
# pop() --> Remove and return item at index (default last).
lst = [1,2,3,4,5,6]
lst.pop(0)

1

In [ ]:
# remove() --> Remove first occurrence of value. Raises ValueError if the value is not present.

lst = [1,2,3,4,2,3,2]
lst.remove(2)

lst

[1, 3, 4, 2, 3, 2]

In [ ]:
# reverse() --> reverse a list

lst = [1,2,3,4]
lst.reverse()

lst

[4, 3, 2, 1]

In [ ]:
# sort() --> sort list
 
lst = [6,5,7,9,4,1,2]
lst.sort()

lst

[1, 2, 4, 5, 6, 7, 9]

In [ ]:
# clear() --> removes all from list

lst = [1,2,3,4]
lst.clear()

lst

[]

In [ ]:
# copy() --> make a copy of a list

lst1 = [1,2,3]

lst2 = lst1.copy()

lst2

[1, 2, 3]

Dictionary Operations

In [77]:
dict = {"name":"sanket","marks":80}

dict

{'name': 'sanket', 'marks': 80}

In [ ]:
# clear() --> removes all from dictionary

dict = {"name":"sanket","marks":80}
dict.clear()
dict

{}

In [ ]:
# copy() --> makes a copy 

dict = {"name":"sanket","marks":80}

dict2 = dict.copy()

dict

{'name': 'sanket', 'marks': 80}

In [82]:
# fromkeys() --> Create a new dictionary with keys from iterable and values set to value.

key = ['name','location','grade']
dict.fromkeys(key)

{'name': None, 'location': None, 'grade': None}

In [83]:
# get() --> Return the value for key if key is in the dictionary, else default.

dict = {"name":"sanket","marks":80}
dict.get('marks')

80

In [ ]:
# items() --> Return a set-like object providing a view on the dict's items.

dict.items()

dict_items([('name', 'sanket'), ('marks', 80)])

In [86]:
# keys() --> Return a set-like object providing a view on the dict's keys.
dict.keys()

dict_keys(['name', 'marks'])

In [88]:
# pop() --> remove specified key and return the corresponding value.
# If the key is not found, return the default if given; otherwise, raise a KeyError.

dict = {"name":"sanket","marks":80}
dict.pop('name')

'sanket'

In [ ]:
# popitem() --> removes last item in a dictionary

dict = {"name":"sanket","marks":80}
dict.popitem()

('marks', 80)

In [103]:
# If the key exists → returns its value
# if the key does NOT exist → adds the key with default_value

dict = {"name":"sanket","marks":80}
dict.setdefault("age",22)

dict

{'name': 'sanket', 'marks': 80, 'age': 22}

In [ ]:
# update() --> update values

dict = {"name":"sanket","marks":80}
dict.update({"name":"virat"})

dict

{'name': 'virat', 'marks': 80}

In [110]:
# values() --> Return an object providing a view on the dict's values.


dict = {"name":"sanket","marks":80}
dict.values()

dict_values(['sanket', 80])

Tuple Operations

In [112]:
tup = (1,2,5.10,4.10,'sanket',7)

tup

(1, 2, 5.1, 4.1, 'sanket', 7)

In [ ]:
# returns count

tup = (1,2,5.10,2,4.10,'sanket',7,2)
tup.count(2)

3

In [116]:
# Return first index of value.

tup = (1,2,5.10,2,4.10,'sanket',7,2)
tup.index('sanket')

5

Set Operations

In [117]:
set = {10, 3.14, "Sanket", True}

set

{10, 3.14, 'Sanket', True}

In [119]:
set.add(8)

set

{10, 3.14, 8, 'Sanket', True}

In [120]:
set = {10, 3.14, "Sanket", True}
set.clear()
set

set()

In [122]:
set = {10, 3.14, "Sanket", True}
set2 = set.copy()

set2

{10, 3.14, 'Sanket', True}

In [ ]:
# difference() --> Return a new set with elements in the set that are not in the others.

set1 = {1,2,3,4}
set2 = {6,7,3,9}

result = set1.difference(set2)

result

{1, 2, 4}

In [ ]:
# difference_update() --> Update the set, removing elements found in others.

set1 = {1,2,3,4}
set2 = {6,7,3,9}
set1.difference_update(set2)

set1

{1, 2, 4}

In [127]:
# discard() --> Remove an element from a set if it is a member.
# Unlike set.remove(), the discard() method does not raise an exception when an element is missing from the set.

set = {10, 3.14, "Sanket", True}
set.discard(3.14)

set

{10, 'Sanket', True}

In [132]:
# intersection() --> Return a new set with elements common to the set and all others.

set1 = {1, 2, 3, 4}
set2 = {6, 7, 3, 9}
result = set1.intersection(set2)

result

{3}

In [134]:
# intersection_update() --> Update the set, keeping only elements found in it and all others.

set1 = {1, 2, 3, 4}
set2 = {6, 7, 3, 9}
set1.intersection_update(set2)

set1

{3}

In [136]:
# isdisjoint() --> Return True if two sets have a null intersection.

set1 = {1, 2, 3, 4}
set2 = {6, 7, 3, 9}
result = set1.isdisjoint(set2)

result

False

In [137]:
# issubset() --> To check whether all elements of one set exist in another set.

set1 = {1, 2, 3, 4}
set2 = {6, 7, 3, 9}
set1.issubset(set2)

False

In [139]:
set1 = {1, 2, 3, 4}
set2 = {1, 2, 3, 4}
set1.issubset(set2)

True

In [142]:
# set.issuperset() --> Report whether another set contains this set.

set1 = {1, 2, 3, 4}
set2 = {1, 2, 3}

set1.issuperset(set2)

True

In [143]:

set = {1, 2, 3, 4}
set.pop()

1

In [146]:
# set.remove() --> Remove an element from a set; it must be a member.If the element is not a member, raise a KeyError.

set = {1, 2, 3, 4}
set.remove(2)

set

{1, 3, 4}

In [147]:
# set.symmetric_difference() --> Return a new set with elements in either the set or other but not both.

set1 = {1, 2, 3, 4}
set2 = {6, 7, 3, 9}
set1.symmetric_difference(set2)

{1, 2, 4, 6, 7, 9}

In [148]:
# set.union() --> Return a new set with elements from the set and all others.

set1 = {1, 2, 3, 4}
set2 = {6, 7, 3, 9}
set1.union(set2)

{1, 2, 3, 4, 6, 7, 9}

In [150]:
# set.update() --> Update the set, adding elements from all others.

set1 = {1, 2, 3, 4}
set2 = {6, 7, 3, 9}

set1.update(set2)

set1

{1, 2, 3, 4, 6, 7, 9}